<div class="container">
  <div class="row" *ngIf="showList">
    <div class="col-md-2">First Name</div>
    <div class="col-md-2">Last Name</div>
    <div class="col-md-2">Email</div>
    <div class="col-md-3">Mobile</div>

  </div>
  <div class="row" *ngFor="let record of lstRecords">
    <input class="col-md-2" [(ngModel)] = "record.firstName" >
    <input class="col-md-2" [(ngModel)]="record.lastName">
    <input class="col-md-2" [(ngModel)]="record.email">
    <input class="col-md-3" [(ngModel)]="record.phone">
    <button (click)="deleteUser(record._id)">Delete</button>
    <button (click)="updateUser(record._id, record)">Edit</button>
  </div>
</div>
